<a href="https://colab.research.google.com/github/tislov-dev/Chatbot/blob/main/Table_Question_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install transformers
!pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.7.0+${CUDA}.html

In [12]:
from transformers import pipeline
import pandas as pd

In [ ]:
nlp_qg = pipeline("table-question-answering", )

In [90]:
data = pd.read_csv('Sample - Superstore.csv')
data.head()

   Row ID        Order ID  Order Date  ... Quantity Discount    Profit
0       1  CA-2019-152156  11/08/2019  ...        2     0.00   41.9136
1       2  CA-2019-152156  11/08/2019  ...        3     0.00  219.5820
2       3  CA-2019-138688  06/12/2019  ...        2     0.00    6.8714
3       4  US-2018-108966  10/11/2018  ...        5     0.45 -383.0310
4       5  US-2018-108966  10/11/2018  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [92]:
tt = data.to_records()

('Row ID', 0          1
1          2
2          3
3          4
4          5
        ...
9989    9990
9990    9991
9991    9992
9992    9993
9993    9994
Name: Row ID, Length: 9994, dtype: int64)
('Order ID', 0       CA-2019-152156
1       CA-2019-152156
2       CA-2019-138688
3       US-2018-108966
4       US-2018-108966
             ...
9989    CA-2017-110422
9990    CA-2020-121258
9991    CA-2020-121258
9992    CA-2020-121258
9993    CA-2020-119914
Name: Order ID, Length: 9994, dtype: object)
('Order Date', 0       11/08/2019
1       11/08/2019
2       06/12/2019
3       10/11/2018
4       10/11/2018
           ...
9989    01/21/2017
9990    02/26/2020
9991    02/26/2020
9992    02/26/2020
9993    05/04/2020
Name: Order Date, Length: 9994, dtype: object)
('Ship Date', 0       11/11/2019
1       11/11/2019
2       06/16/2019
3       10/18/2018
4       10/18/2018
           ...
9989    01/23/2017
9990    03/03/2020
9991    03/03/2020
9992    03/03/2020
9993    05/09/2020
Name: Ship Date, Length: 9994, dtype: object)
('Ship Mode', 0         Second Class
1         Second Class
2         Second Class
3       Standard Class
4       Standard Class
             ...
9989      Second Class
9990    Standard Class
9991    Standard Class
9992    Standard Class
9993      Second Class
Name: Ship Mode, Length: 9994, dtype: object)
('Customer ID', 0       CG-12520
1       CG-12520
2       DV-13045
3       SO-20335
4       SO-20335
          ...
9989    TB-21400
9990    DB-13060
9991    DB-13060
9992    DB-13060
9993    CC-12220
Name: Customer ID, Length: 9994, dtype: object)
('Customer Name', 0            Claire Gute
1            Claire Gute
2        Darrin Van Huff
3         Sean O'Donnell
4         Sean O'Donnell
              ...
9989    Tom Boeckenhauer
9990         Dave Brooks
9991         Dave Brooks
9992         Dave Brooks
9993        Chris Cortes
Name: Customer Name, Length: 9994, dtype: object)
('Segment', 0        Consumer
1        Consumer
2       Corporate
3        Consumer
4        Consumer
          ...
9989     Consumer
9990     Consumer
9991     Consumer
9992     Consumer
9993     Consumer
Name: Segment, Length: 9994, dtype: object)
('Country/Region', 0       United States
1       United States
2       United States
3       United States
4       United States
            ...
9989    United States
9990    United States
9991    United States
9992    United States
9993    United States
Name: Country/Region, Length: 9994, dtype: object)
('City', 0             Henderson
1             Henderson
2           Los Angeles
3       Fort Lauderdale
4       Fort Lauderdale
             ...
9989              Miami
9990         Costa Mesa
9991         Costa Mesa
9992         Costa Mesa
9993        Westminster
Name: City, Length: 9994, dtype: object)
('State', 0         Kentucky
1         Kentucky
2       California
3          Florida
4          Florida
           ...
9989       Florida
9990    California
9991    California
9992    California
9993    California
Name: State, Length: 9994, dtype: object)
('Postal Code', 0       42420.0
1       42420.0
2       90036.0
3       33311.0
4       33311.0
         ...
9989    33180.0
9990    92627.0
9991    92627.0
9992    92627.0
9993    92683.0
Name: Postal Code, Length: 9994, dtype: float64)
('Region', 0       South
1       South
2        West
3       South
4       South
        ...
9989    South
9990     West
9991     West
9992     West
9993     West
Name: Region, Length: 9994, dtype: object)
('Product ID', 0       FUR-BO-10001798
1       FUR-CH-10000454
2       OFF-LA-10000240
3       FUR-TA-10000577
4       OFF-ST-10000760
             ...
9989    FUR-FU-10001889
9990    FUR-FU-10000747
9991    TEC-PH-10003645
9992    OFF-PA-10004041
9993    OFF-AP-10002684
Name: Product ID, Length: 9994, dtype: object)
('Category', 0             Furniture
1             Furniture
2       Office Supplies
3             Furniture
4       Office Supplies
             ...
9989          Furniture
9990          Furniture
9991         Technology
9992    Office Supplies
9993    Office Supplies
Name: Category, Length: 9994, dtype: object)
('Sub-Category', 0         Bookcases
1            Chairs
2            Labels
3            Tables
4           Storage
           ...
9989    Furnishings
9990    Furnishings
9991         Phones
9992          Paper
9993     Appliances
Name: Sub-Category, Length: 9994, dtype: object)
('Product Name', 0                       Bush Somerset Collection Bookcase
1       Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Self-Adhesive Address Labels for Typewriters b...
3           Bretford CR4500 Series Slim Rectangular Table
4                          Eldon Fold 'N Roll Cart System
                              ...
9989                               Ultra Door Pull Handle
9990    Tenex B1-RE Series Chair Mats for Low Pile Car...
9991                                Aastra 57i VoIP phone
9992    It's Hot Message Books with Stickers, 2 3/4" x 5"
9993    Acco 7-Outlet Masterpiece Power Center, Wihtou...
Name: Product Name, Length: 9994, dtype: object)
('Sales', 0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64)
('Quantity', 0       2
1       3
2       2
3       5
4       2
       ..
9989    3
9990    2
9991    2
9992    4
9993    2
Name: Quantity, Length: 9994, dtype: int64)
('Discount', 0       0.00
1       0.00
2       0.00
3       0.45
4       0.20
        ...
9989    0.20
9990    0.00
9991    0.20
9992    0.00
9993    0.00
Name: Discount, Length: 9994, dtype: float64)
('Profit', 0        41.9136
1       219.5820
2         6.8714
3      -383.0310
4         2.5164
          ...
9989      4.1028
9990     15.6332
9991     19.3932
9992     13.3200
9993     72.9480
Name: Profit, Length: 9994, dtype: float64)

In [88]:
data = data[['City','Category','Sales']]
# table = data.groupby(['City','Category']).sum('Sales')
tic = data.to_dict('index')
tic

In [58]:
table.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      9994 non-null   object
 1   Category  9994 non-null   object
 2   Sales     9994 non-null   float64
dtypes: float64(1), object(2)
memory usage: 234.4+ KB

In [45]:
data_dict = {
    "actors": ["brad pitt", "leonardo di caprio", "george clooney"],
    "age": ["56", "45", "59"],
    "number of movies": ["87", "53", "69"],
    "date of birth": ["7 february 1967", "10 june 1996", "28 november 1967"],
}

In [57]:
table_dict = pd.DataFrame.from_dict(data_dict)
table_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   actors            3 non-null      object
 1   age               3 non-null      object
 2   number of movies  3 non-null      object
 3   date of birth     3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [52]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      9994 non-null   object
 1   Category  9994 non-null   object
 2   Sales     9994 non-null   float64
dtypes: float64(1), object(2)
memory usage: 234.4+ KB

In [46]:
query = 'Sum of sales for Furniture?'

In [84]:
nlp_qg(tic,query)['answer']

TypeError: ignored